<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div *ngIf="isLoggedIn">
            <a routerLink="" class="navbar-brand">Olá, {{username}}!</a>
        </div>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="brackets">Sequência </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink="register">Cadastre-se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
